@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($background-light, .5);

    &__container {
        @include center-element;
    }

    &__icon {
        width: 50px;
        color: $blue;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
