//colors

$green: #639FAB;
$light-green: #DAF2F7;
$dark-green: #466F78;



$blue: #1C5D99;
$light-blue: #BBCDE5;
$white: #FFFFFF;
$black: #222222;

$background: $light-blue;
$background-light: $white;
$font-primary: $black;
$font-secondary: $white;
