//colors

$green: #639FAB;
$light-green: #DAF2F7;

$blue: #1C5D99;
$light-blue: #BBCDE5;
$white: #FFFFFF;
$black: #222222;
$red: #DE7E6A;

$background: $light-blue;
$background-light: $white;
$font-primary: $black;
$font-secondary: $white;

$custom-link: blue;
