* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto Condensed', 'Calibri', sans-serif;
    font-size: 1.8rem;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
}

button {
    height: 5rem;
    padding: 0 2rem ;
    background-color: #ffffff;
    border: 2px solid #b4b4b4;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: 700;
}

button:hover {
    color: #6487c8;
}

button:focus {
    outline: none;
    border: 2px solid #818181;
}

h2 {
    font-size: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 4rem 3rem 4rem;
}

.create-button {
    margin-right: 5rem;
}

.board-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.board-column {
    width: 100%;
    height: 80vh;
    margin: 0 0.5rem;
    border: 1px solid #b4b4b4; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-column-header {
    width: 101%;
    height: 6rem;
    background-color: #6487c8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.ticket {

    height: 100px;
    width: 300px;
    margin: 1.5rem;
}

.ticket-class-line {
    background-color: #bd7393;
    height: 0.8rem;
}

.ticket-info {
    padding: 2rem;
    background-color: #ffffff;
}

.ticket-number {
    color: #b4b4b4;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: block;
}

.modal-description-container {
    display: none;
}
  
.modal-overlay {
    height: 100%;
    width: 100%;
    background-color: #b4b4b4;
    opacity: 0.8;
}
  
.modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 994px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding: 5rem 6rem 2rem 6rem;
}

.modal-header h2{
    margin-top: 0.5rem;
    color: #6487c8;
    text-align: left;
}

.ticket-status {
    margin-top: 0.5rem;
}

.ticket-description {
    padding: 0 2rem 2rem 2rem;
    margin: 0 4rem 4rem 4rem;
}

.close-button {
    position: absolute;
    top: 1.5rem;
    left: 95%;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 2rem;
}

.close-button:hover {
    color: #b4b4b4;
}

.create-ticket-form {
    margin: 4rem;
    margin-bottom: 8rem;
}

.form-element {
    width: 90%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.description-input {
    height: 20rem;
}

.create-ticket-label {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.create-ticket-input {
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 1px solid #b4b4b4; 
}

.create-ticket-input:focus{
    border: 1px solid #818181;
}

.submit-button {
    position: absolute;
    left: 45%;
}




 