.button {
    height: 4rem;
    padding: 0 2rem ;
    background-color: white;
    border: solid 2px var(--light-grey-font);
    font-size: 1.8rem;
}

.button:hover {
    border: solid 2px var(--dark-grey-font);
}

.button:focus {
    border: solid 2px var(--dark-grey-font);
}

.button:active {
    color: var(--light-grey-font);
}


  