.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: block;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: var(--background-fill);
    opacity: 0.75;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background-color: white;
    padding: 3rem;
}

.formElement {
    width: 90%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    display: block;
}

.label {
    margin-right: 2rem;
    font-size: 2rem;
}

.input {
    padding: 1rem;
    border: solid 2px var(--light-grey-font);
}

.input:focus{
    outline: none;
    border: solid 2px var(--dark-grey-font);
    color: var(--dark-grey-font);
}

.title {
    width: 90%;
}

.descriptionInput {
    display: block;
    height: 20rem;
    width: 100%;
    margin-top: 2rem;
}

.statusInput {
    width: 90%;
}

.buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .inner {
        width: 60%;
        padding: 4rem;
        border: solid 2px var(--light-grey-font);
        border-radius: 5px;
    }
}



