@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.board {
    @include flex-container($gap: 20px, $align: stretch);
}

@media (min-width: 768px) {
    .board {
        flex-direction: row;
        gap: 10px;
        min-height: calc(100vh - 3.5rem - 75px - 3rem - 40px - 1rem - 15px);

            &__column {
                flex: 1;
            }

    }
}

