.board {
    margin: 3rem;
  }

.column {
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
    .board {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        height: 81vh;
    }
}

@media (min-width: 992px) {
    .board {
        gap: 0px 1.5rem;
    }
}
