.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 1.5rem;
    height: 81vh;
    margin: 1rem 7rem;
  }

.column {
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}