.container__inner {
    position: absolute;
}
.inner {
    padding: 14rem 4rem 6rem 4rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__items {
    margin-bottom: 2rem;
}
.form__items:last-child {
    margin: 0;
}
.form__label {
    margin-bottom: 3rem;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
}
.form__input {
    padding: 1rem;
    border: solid 1px var(--borders);
}
.form__input:focus{
    outline: none;
    border: solid 1px var(--borders-active);
    color: var(--dark-grey);
}
.form__link {
    font-weight: 400;
    color: var(--light-grey);
    text-decoration: underline;
}

@media (min-width: 768px) {
    .container__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .inner {
        height: 40rem;
        width: 40rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: solid 1px var(--borders);
        padding: 4rem;
    }
}