@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.openCreateBoard {

    &__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      padding: 4rem 10rem;
      @include flex-container($direction: column, $gap: 20px);
      background-color: $background-light;
      font-size: 1.6rem;
      font-weight: 700;
    }

  &__input {
    padding: 5px 10px;
    background-color: $light-green;
    border: 1px solid $green;

    &:focus {
      outline: 1px solid $green;
      transition: outline .3s ease;
    }

    ::placeholder {

    }
  }
}