@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.openCreateBoard {

    &__inner {
      @include center-element;
      padding: 4rem 10rem;
      @include flex-container($gap: 20px);
      background-color: $background-light;
      font-size: 1.6rem;
      font-weight: 700;
    }

  &__input {
    @include input;
  }
}