  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: solid 2px var(--light-grey-font);
  }

  .header {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: var(--dark-grey-font);
    }

  .headerBottomLine {
    margin: 1.5rem 0;
    background-color: var(--dark-grey-font);
    justify-content: flex-end;
    width: 60%;
    height: 1.5px;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 2rem; 
  }

  .overColumn {
    border: solid 2px var(--dark-grey-font);
  }
