  .column {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px var(--light-grey-font);
    margin-bottom: 1rem;
  }

  .smallScreen {
      background-color: rebeccapurple;
  }

  .header {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: var(--dark-grey-font);
    }

  .headerBottomLine {
    margin: 1.5rem 0;
    background-color: var(--dark-grey-font);
    justify-content: flex-end;
    width: 60%;
    height: 1.5px;
  }

  .body {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin-top: 2rem;
  }

  .overColumn {
    box-shadow: 0 0 0 1.5px var(--dark-grey-font);
  }

