  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  }

  .header { 
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light-grey-font);
    }

  .headerBottomLine {
    margin: 1.5rem 0;
    background-color: var(--light-grey-font);
    justify-content: flex-end;
    width: 60%;
    height: 0.17rem;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 2rem; 
  }

  .overColumn {
    background-color: var(--sky-blue-button);
  }

  .overColumn .header {
    color: var(--dark-grey-font);
  }

  .overColumn .headerBottomLine {
    background-color: var(--dark-grey-font);
  }
