@import '../../assets/scss/mixins';

.app__alerts_block {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  @include flex-container($align: stretch, $gap: 1px);

  @include responsive(phone) {
    width: 500px;
  }
}