.header__logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -50px;
    z-index: 999;
}

@media (min-width: 768px) {
    .header__logo {
        position: absolute;
        margin-left: 0;
        top: 3rem;
        left: 6rem;
    }
}