.button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: inherit;
    border: 2px solid var(--grey);
    border-radius: 3px;
}

.button:hover {
    fill: var(--sky-blue-button);
}

.closeIcon:active {
    fill: white;
}