@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.alert {
    position: fixed;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 4rem 2rem 2rem;
    background-color: $white;
    font-family: "Inter", "Arial", sans-serif;


    &_success {
        border: 2px solid $green;
        color: $green;
    }

    &_error {
        border: 2px solid $red;
        color: $red;
    }

    &_tip {
        border: 2px solid $blue;
        color: $blue;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &_success {
            color: $green;
        }

        &_error {
            color: $red;
        }

        &_tip {
            color: $blue;
        }
    }

    &__text {
        font-size: 1.4rem;
    }

    &__details {
        margin-top: 1rem;

        display: flex;
    }

    &__summary {
        font-size: 1.2rem;
        text-decoration: underline;
        cursor: pointer;
        list-style: none;


        &::marker {
            display: none;
        }
    }

    &__details_text {
        margin-top: .5rem;
        text-decoration: none;
    }
}