@import '../../assets/scss/mixins';

.boardPage {
  position: relative;
  margin: 3rem auto 0;
  max-width: 1200px;

    &__header {
      margin-bottom: 1rem;
      height: 40px;
      padding: 0 15px;
      @include flex-container($direction: row, $justify: space-between, $align: flex-end);
    }
}
@media (min-width: 768px) {
  .boardPage {
    padding: 0 15px;

    &__header {
      padding: 0;
    }
  }
}

