
.header {
    margin-top: 14rem;
    margin-left: 3rem;
}

.boardNumber {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 450px) {
    .header {
        margin-top: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boardNumber {
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 14rem 10rem 3rem 10rem;
    }
}
