@import '../../assets/scss/mixins';

.boardPage {
  position: relative;
  margin: 3rem auto 0;
  max-width: 1200px;

  @include responsive(phone) {
    padding: 0 15px;
  }

  &__header {
    margin-bottom: 1.5rem;
    padding: 0 15px;
    @include flex-container(
            $align: flex-start,
            $gap: 10px);

    @include responsive(phone) {
      padding: 0;
    }

    @include responsive(tablet) {
      height: 40px;
      @include flex-container(
              $direction: row,
              $justify: space-between,
              $align: flex-end);
    }
  }

  &__boardID {
    @include flex-container($direction: row, $gap: 10px);
  }
}
