@import '../../assets/scss/mixins';

.boardPage {
  position: relative;
  margin: 3rem auto 0;
  max-width: 1200px;

  @include responsive(phone) {
    padding: 0 15px;
  }

  &__header {
    margin-bottom: 1.5rem;
    padding: 0 15px;
    @include flex-container(
            $align: flex-start,
            $gap: 10px);

    @include responsive(phone) {
      padding: 0;
    }

    @include responsive(tablet) {
      height: 40px;
      @include flex-container(
              $direction: row,
              $justify: space-between,
              $align: flex-end);
    }
  }

  &__boardID {
    position: relative;
    @include flex-container($direction: row, $gap: 10px);

    &_copy {
      cursor: pointer;
      color: $green;
    }

    &_tooltip {
      position: absolute;
      right: -20px;
      bottom: 100%;
      transform: translateY(-5px);
      padding: 5px 10px;
      background-color: $green;
      border-radius: 4px;
      font-family: Inter, sans-serif;
      font-size: 1rem;
      color: $font-secondary;
      white-space: nowrap;

      &:after {
        position: absolute;
        left: 50%;
        transform: translate(-50%, calc(100% + 5px));
        content: '';
        border: 6px solid transparent;
        border-top: 4px solid $green;
      }
    }
  }
}