.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: block;
}
  
.overlay {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.75;
}
  
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    border: solid 2px var(--light-grey-font);
    border-radius: 5px;
    padding: 4rem 7rem;

}

.element {
    margin: 2rem 0;
}

.number {
    font-family: 'Nunito', 'Arial', sans-serif;
    color: var(--light-grey-font);
}

.title {
    word-wrap: break-word;
    font-size: 2rem;
    font-weight: 700;

}

.description {
    height: 20rem;
    font-size: 1.6rem;
    word-wrap: break-word;
    overflow-y: auto;
}

.form {
    display: flex;
    justify-content: left;
    align-items: center;
}

.statusLabel {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 2rem;
}

.statusInput {
    padding: 1rem;
    border: none;
    margin-right: 2rem;
    border: solid 2px var(--light-grey-font);
}

.statusInput:focus {
    outline: none;
    border: solid 2px var(--dark-grey-font);
    color: var(--light-grey-font);
}

.submit {
    height: 3rem;
    padding: 0 3rem ;
    background-color: white;
    border: solid 2px var(--light-grey-font);
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: 700;
}

.submit:hover{
    border: solid 2px var(--dark-grey-font);
}

.submit:focus{
    border: solid 2px var(--dark-grey-font);
}

.submit:active{
    border: solid 2px var(--light-grey-font);
    color: var(--light-grey-font);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


