@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.descriptionWindow {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($background, .5);
    overflow-y: auto;

    &__container {
        @include center-element;
        padding: 4rem 10rem;
        @include flex-container($align: flex-start, $gap: 20px);
        background-color: $background-light;
        font-size: 1.6rem;
        font-weight: 700;
    }

    &__number {
        color: $blue;
    }

    &__description {
        width: 600px;
        height: 200px;
        overflow: auto;
    }

    &__form {
        margin-top: 3rem;
        width: 100%;
        @include flex-container($align: stretch, $gap: 7px);
    }

    &__input {
        @include input;
    }

    &__close {
        margin: 0 auto;
    }
}

.invisible {
    display: none;
}


