@import '~normalize.css/normalize.css';

:root {
    --white: white;
    --light-blue: #e3f1fe;
    --light-blue-2: #A8D3FC;
    --blue: #81BFFA;
    --dark-grey: #2a2a2a;
    --light-grey: #a1a1a1;
    --background: var(--light-blue);
    --borders: var(--light-grey);
    --borders-active: var(--dark-grey);
    --primary: var(--blue);
    --primary-hover: var(--light-blue-2);
    --alternate: white;
    --alternate-hover: var(--blue);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--background);
    color: var(--dark-grey);
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1.6rem;
}

h2, button, label {
    text-transform: capitalize;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: 700;
}

input, textarea, select {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1.6rem;
}

button {
    text-decoration: none;
    outline: none;
    border: none;
}

::placeholder {
    color: #D0D0D0;
}

a{
    color: inherit;
    text-decoration: none;
}
