@import '~normalize.css/normalize.css';

:root {
    --background-fill: #eefbff;
    --dark-grey-font: #2a2a2a;
    --light-grey-font: #858585;
    --sky-blue-button: #abe4fb;
    --first-column-yellow: #faea5c;
    --second-column-yellow: #f5d147;
    --third-column-yellow: #deb435;
    --fourth-column-yellow: #de810b;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--background-fill);
    color: var(--dark-grey-font);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.6rem;
}

h2, button, label {
    text-transform: capitalize;
    font-family: 'Nunito', 'Arial', sans-serif;
}

input, textarea, select {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.6rem;
}

button {
    text-decoration: none;
    outline: none;
}




